* {
    box-sizing: border-box;
}
.contact {
  font-family: cursive;
}
input:invalid {
  border-color: red;
}
input[type="text"] {
  color: black;
  background-color: yellow;
}
input[type="submit"]:hover {
  border-color: red;
  border: 8px solid green;
}
input[name="firstname"]:hover {
  border-color: red;
  border: 8px solid green;
}
input[name="lastname"]:hover {
  border-color: red;
  border: 8px solid green;
}
.Topic:hover {
  border: 8px solid green;
}
textarea {
  background-color: yellow;
}
a:hover {
  text-decoration: none;
  border: 8px solid green;
}

.grid-container1 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding: 10px
  align-content: center;
}

.item1 ul {
  list-style-type: none;
  margin: 0;
  padding: 8px;
}

li {
  float: left;
}
li a {
  display: block;
  padding: 8px;
}
iframe {
  align-items: center;
}
